.Navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: rgb(250, 254, 255);
  }
  
  .Navigation-SideBySide{
    display: inline-table;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 3px;
  }
  
  .Navigation-TMC-Logo{
    position: absolute;
    left: 0;
    height: 55px;
    width: 125px;
  }

  .Navigation-Name{
    position: absolute;
    font-family:  monospace;
    font-size: 1.3em;
    right: 0;
    margin-right: 25px;
    margin-top: -1px;
  }